@use "../../assets/style/font.module";

$category-border-radius: 10px;

.projectsFont {
	@include font.inter-font;
}

@mixin rounded-top {
	border-radius: $category-border-radius $category-border-radius 0 0;
}

@mixin rounded-bottom {
	border-radius: 0 0 $category-border-radius $category-border-radius;
}