@use "./colors" as *;
@use "./index.module" as *;

.projectCategory {
	display: flex;
	flex-direction: row;
}

.categoryDescriptorContainer {
	border-radius: 10px;
	width: min-content;
	margin: 20px;
}

.categoryDescriptor {
	@extend .projectsFont;
	@include rounded-top;
	font-size: 1.5rem;
	font-weight: bolder;
	background-color: $tab-highlight;
	padding: 8px;
	text-align: center;
}

.categoryDescriptorImageContainer {
	@include rounded-bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $tab-primary;
}

.categoryImage {
	//width: 100%;
	flex-grow: 1;
}

.projectCards {
	display: flex;
	flex-direction: row;
}