@use "../../assets/style/colors.module" as *;
@use "./index";

.categoryDescriptorContainer {
	border-radius: 10px;
	width: fit-content;
}

.categoryDescriptor {
	@include index.projects-font;
	font-size: 1.5rem;
	font-weight: bolder;
	background-color: $mida-purple;
	padding: 8px;
	border-radius: 10px 10px 0 0;
	text-align: center;
}