@use "./index.module" as *;
@use "colors" as *;


.projectsHeader {
	display: flex;
	justify-content: end;
	//align-items: end;
}

.projectCategoryTab {
	@extend .projectsFont;
	display: flex;
	flex-direction: row;
	margin-inline-start: 30px;
	cursor: pointer;
}

.projectCategoryTabName {
	background-color: $tab-primary;
	border-radius: $category-border-radius 0 0 $category-border-radius;
	padding: $category-border-radius;
}

.projectCategoryTabCount {
	background-color: $tab-highlight;
	border-radius: 0 $category-border-radius $category-border-radius 0;
	padding: $category-border-radius;
}