@use "src/assets/style/colors.module";

@font-face {
	font-family: "JetBrains Mono";
	src: url("/src/assets/font/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf");
}

* {
	font-family: "JetBrains Mono", serif;
	color: colors.$dark;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#app {
	width: 100%;
	height: 100%;
	background-color: colors.$background;
}