$dark: #232323;
$light: #f9fdf6;
$gray: #595959;

$cyac-green: #c0fe04;

$nucal-pink: #e8005e;

$traxus-orange: #fd4900;
$traxus-orange: #ea7114;
$traxus-dark: #1b1b1b;
$traxus-darker: #0c0c0c;

$mida-purple: #fd00fd;