@font-face {
	font-family: "Inter";
	src: url("/src/assets/font/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@mixin inter-font {
	font-family: "Inter", serif;
}

@font-face {
	font-family: "Modenine";
	src: url("/src/assets/font/modenine/MODENINE.TTF");
}

@mixin modenine-font {
	font-family: "Modenine", serif;
}

@font-face {
	font-family: "NunitoSans";
	src: url("/src/assets/font/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@mixin nunito-sans-font {
	font-family: "NunitoSans", serif;
}