.terminal-container {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    width: 90%;
    height: 90%;
}

.line {
    color: green;
}
