@use "colors" as *;

.about {
	$ab-margin: 75px;
	background-color: $base-col;
	margin-top: $ab-margin;
	margin-bottom: $ab-margin;
}

.about-heading {
	width: 33%;
}

.about-heading-content {
	flex: 1;
}

.about-paragraph {
	width: 35%;
}