$base-col: #1e314c;
$secondary-col: #252529;
$tertiary-col: #2e2e37;
$quarternary-col: #363f45;

$body-bg-color: $base-col;
$text-color: #bac5cf;

$header-col: $secondary-col;
$projects-header-bg-color: $secondary-col;
$projects-bg-color: $tertiary-col;
$item-bg-color: $quarternary-col;

$footer-color: $secondary-col;
$border-color: #7b7f83;

