@use "../../assets/style/layout.module";

.content-container {
	margin-left: layout.$spacing;
}

.content-item {
	display: inline-flex;
	gap: layout.$spacing;
	justify-content: center;
}

.source-link-container {
	display: flex;
	align-items: center;
}