@use "../assets/style/colors.module" as *;
@use "../assets/style/font.module";

@mixin traxus-text {
	@include font.modenine-font;
	color: $traxus-orange;
	text-wrap: nowrap;
	margin: 0;
}

.aboutContainer {
	background-color: $traxus-dark;
}

.aboutBody {
	display: grid;
	gap: 20px;
	width: min-content;
}

.aboutHeader {
	width: fit-content;
	padding: 5px;
	background-color: $traxus-darker;
}

.aboutHeading {
	@include traxus-text;
	font-size: 2.5rem;
}

.aboutContent {
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-direction: column;
}

.aboutText {
	@include traxus-text;
	font-size: 1.8rem;
	text-align: center;
}