@use "../assets/style/colors.module";
@use "../assets/style/layout.module";

$boxed-border: 3px solid;

.black-boxed {
	border: $boxed-border colors.$dark;
	padding: layout.$spacing;
}

.white-boxed {
	border: $boxed-border colors.$light;
}