@use "../assets/style/colors.module";
@use "../assets/style/font.module";

.header {
	display: flex;
	flex-direction: row;
	background-color: colors.$dark;
	//height: fit-content;
	//justify-content: center;
	//place-items: center;
}

.titleBoxContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	margin: 10px;
}

.titleBox {
	display: flex;
}

.plusColumn {
	display: flex;
	flex-direction: column;
}

.plusRowSpacer {
	height: 100%;
}

.titleSpacerContainer {
	display: flex;
	flex-direction: column;
}

.titleContainer {
	display: flex;
	width: 100%;
	height: max-content;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin: 20px;
}

.title {
	@include font.modenine-font;
	color: colors.$neon-green;
	font-size: 3rem;
	margin: 0;
	text-align: center;
}

.imageRow {
	justify-self: end;
}

.cornerTri {
	display: block;
	align-self: end;
}