@use "../assets/style/colors.module";
@use "../assets/style/font.module";

.header {
	display: flex;
	flex-direction: row;
	background-color: colors.$dark;
	//height: fit-content;
	//justify-content: center;
	//place-items: center;
}

.title {
	@include font.inter-font;
	color: colors.$neon-green;
	font-size: 3rem;
	margin: 0;
	text-align: center;
}

.spacer {

}

.titleContainer {
	display: flex;
	width: 100%;
	height: max-content;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.imageRow {
	justify-self: end;
}

.cornerTri {
	display: block;
}