@use "shared";
@use "../border";
@use "../colors" as *;

.footer {
	@include shared.hf;
	border-radius: border.$border-radius-style border.$border-radius-style 0 0;
}

.findme {
	display: inline-flex;
	height: fit-content;
}

.findme-paragraph {
	align-self: center;
}